<%- include('../includes/header.ejs') %>
<div class="row my-4"></div>
<div class="mx-auto" style="width:fit-content;">
<h3><%= error %> </h3>
</div>
<div style="width: fit-content;" class="mx-auto my-2">
<button class="btn btm-sm btn-danger" onclick="window.history.back()">Go Back</button>
</div>

<%- include('../includes/footer.ejs') %>
