.d-block {
    display: inline-block !important;
}
.post-item{
    font-size: 15px;
    padding: 0.75rem 0;
}

.post-item:nth-child(odd){
    background-color: #f6f6f6;
}
.post-item:nth-child(even){
    background-color: #fff;
}
.hide-overflow{
    overflow: hidden;
    max-height: 3rem;
}
.extraFields{
    width: 100%;
}