.d-block {
    display: inline-block !important;
}
.post-item{
    font-size: 15px;
    margin: 1.35rem 0;
}
.hide-overflow{
    overflow: hidden;
    max-height: 3rem;
}
.extraFields{
    width: 100%;
}